// All posts
div#blog
	div.blog-item
		a(href='/post/1')
			img.single_image(src='/images/blog/thumbs/blog1.jpg', width='280', height='180', alt='blog1')
		div.blog-item-info
			div.user admin
			div.comments 6 comments
			div.tags psd news blog post
		div.blog-item-content
			a(href='/post/1')
				h5 This is our first juicy tidbit
			p
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			a.readmore(href='/post/1') read more → <br/>
	
	div.blog-item
		a(href='/post/1')
			img.single_image(src='/images/blog/thumbs/blog2.jpg', width='280', height='180', alt='blog1')
		div.blog-item-info
			div.user admin
			div.comments 6 comments
			div.tags psd news blog post
		div.blog-item-content
			a(href='/post/1')
				h5 This is our first juicy tidbit
			p
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			a.readmore(href='/post/1') read more → <br/>
	
	div.blog-item
		a(href='/post/1')
			img.single_image(src='/images/blog/thumbs/blog3.jpg', width='280', height='180', alt='blog1')
		div.blog-item-info
			div.user admin
			div.comments 6 comments
			div.tags psd news blog post
		div.blog-item-content
			a(href='/post/1')
				h5 This is our first juicy tidbit
			p
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			a.readmore(href='/post/1') read more → <br/>
			
	div.blog-item
		a(href='/post/1')
			img.single_image(src='/images/blog/thumbs/blog4.jpg', width='280', height='180', alt='blog1')
		div.blog-item-info
			div.user admin
			div.comments 6 comments
			div.tags psd news blog post
		div.blog-item-content
			a(href='/post/1')
				h5 This is our first juicy tidbit
			p
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			a.readmore(href='/post/1') read more → <br/>

	div#pagination
		a.active(href='#') 1
		a(href='#') 2
		a(href='#') 3
		a(href='#') ...
		a(href='#') →
