// This is the START of the recent posts
div#recent-posts-container
	div.section-description
		h5 Recent posts
		p Here you can find some of our recent and fresh content...
	div.recent-summary
		div.recent-item
			a(href='/post/2')
				img(src='/images/blog/thumbs/recent1.jpg', width='250', height='150', alt='recent1')
			h6 NYC
			p 
				On a scooter? 
					a.readmore(href='/post/1') read more →
		div.recent-item-last
			a(href='/post/2')
				img(src='/images/blog/thumbs/recent2.jpg', width='250', height='150', alt='recent2')
			h6 Feathers
			p 
				Could drop some lorem here.
					a.readmore(href='post/2') read more →
	// END of recent posts

	// This is the START of the recent projects
	div#recent-projects-container
		div.section-description
			h5 Recent projects
			p These are some of our latest projects, come nice stuff here...
		div.recent-summary
			div.recent-item
				a.single_image(href='#')
					img(src='/images/portfolio/thumbs/recent1.jpg', width='250', height='150', alt='recent1')
				h6 Moo Minicards
				p 
					Kinda sweet huh? 
						a.readmore(href='#') read more →
			div.recent-item-last
				a.single_image(href='#')
					img(src='/images/portfolio/thumbs/recent2.jpg', width='250', height='150', alt='recent2')
				h6 Right off the press! 
				p 
					Could drop some lorem here.
						a.readmore(href='#') read more →
		// END of recent projects
		div.spacer
		// END of content