// This is the START of the NIVO slider
//
	div.slider-wrapper.theme-effe
		div#slider.nivoSlider
			img(src='/images/sample-project/slider/slide1.jpg', alt='', title='#img1')
			img(src='/images/sample-project/slider/slide2.jpg', alt='', title='#img2')
		div#slider-shadow

// This is the START of the project
div.project
	div#description
		h3 #{project.name}
		p!= formatMdText(project.description)
	ul#work
		each feature in project.features
			li #{feature}
div.spacer
