// This is the START of the NIVO slider
div.slider-wrapper.theme-effe
	div#slider.nivoSlider
		img(src='/images/sample-project/slider/slide1.jpg', alt='', title='#img1')
		img(src='/images/sample-project/slider/slide2.jpg', alt='', title='#img2')
	div#slider-shadow

// This is the START of the project
div.project
	div#description
		h3 This is the project title
		p
			Ut ligula sapien, vulputate nec vulputate eget, semper ac augue. Sed varius ante leo, vel tristique libero. Aenean eros felis, auctor a congue ut, pellentesque vel elit. Vivamus imperdiet ultricies diam sit amet euismod. Duis nec purus quis neque commodo porta sit amet vitae mi. Curabitur vestibulum ante convallis enim fringilla posuere. In ac erat ut magna cursus faucibus.
	ul#work
		li This is the first item
		li This is the second item
		li This is the third item
		li This is the fourth item
div.spacer
